[
 {myapp, [{key1, value1}, {key2, value2}]},
  {opentelemetry,
   [{span_processor, batch},
      {traces_exporter, otlp},
      {resource,[
         {service, #{name => "erlang-demo", version => "1.0.1"}},
         {deployment, #{environment => "dev"}}
         ]
      }
      ]
   },

 {opentelemetry_exporter,
  [{otlp_protocol, grpc},
   {otlp_endpoint, "http://splunk-otel-collector:4317"}
   ]}
].